:root {
  --node-add: #9bd464;
  --node-add-hover: #b0e77c;
  --node-add-border: #498d09;
  --node-remove: #e76f51;
  --node-remove-hover: #f77c5d;
  --node-remove-border: #be4b2e;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
}
.node {
  flex: 1 1 33%;
  display: flex;
  align-content: left;
  justify-content: flex-start;
  margin: 10px
}

.box { 
  background-color: #b0e77c;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.attributeBox, .effectBox {
  background-color: #9bd464;
  border: 1px dotted black;
  padding: 5px;
  margin: 5px;
  align-items: center;
  display: grid;
  grid-template-columns: 50px minmax(50px, 170px) 0.5fr;
}

a {
  text-align: left;
}

button.add {
  background-color: var(--node-add);
  border-color: var(--node-add-border);
  width: 22px;
  height: 22px;
}

button.add:enabled:hover {
  background-color: var(--node-add-hover);
}

button.remove {
  background-color: var(--node-remove);
  border-color: var(--node-remove-border);
  width: 22px;
  height: 22px;
}

button.remove:enabled:hover {
  background-color: var(--node-remove-hover);
}